body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.resume {
    max-width: 900px;
    margin: auto;
    background: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
}

header h1 {
    text-align: center;
    font-size: 1.8em;
    text-transform: uppercase; 
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;  
}

.contact-info .col1 p {
    text-align: left;
}
a{
    text-decoration: none;
}

.contact-info .col2 p {
    margin-left: 195px;
    text-align: left;
}
.contact-info a, .links a {
    color: #000000; 
    text-decoration: none; 
}

.contact-info a:hover, .links a:hover {
    text-decoration: underline; 
}
section {
    margin-bottom: 20px;
}

h3 {
    background-color: #d3d3d3; /* Light grey */
    color: black;
    border-radius: 4px;
    margin: 0 -20px;
    padding-left: 20px;
    text-transform: uppercase;
}

ul {
    list-style-type: disc;
    padding-left: 40px;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: top; /* Aligns the content to the top */
}

th {
    background-color: #f2f2f2;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.hob a, .links{
    color: black;

}
.sign {
    float: right; 
    margin-right: 40px;
    margin-bottom: 30px;
}
